<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>Identifier</key>
	<string>adbgtl</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the Coordinator to create</string>
			<key>Identifier</key>
			<string>FlowName</string>
			<key>Name</key>
			<string>New FlowName Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_FlowName___</string>
			<key>Identifier</key>
			<string>flowName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_FlowName___Coordinator</string>
			<key>Description</key>
			<string>Flow Coordinator name</string>
			<key>Identifier</key>
			<string>flowCoordinatorName</string>
			<key>Name</key>
			<string>flowCoordinator:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Summary</key>
	<string>This generates a new Coordinator for using VOF arc.</string>
</dict>
</plist>
