<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>Identifier</key>
	<string>ru.abd.mobile</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the View to create</string>
			<key>Identifier</key>
			<string>ViewName</string>
			<key>Name</key>
			<string>New ViewName Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_ViewName___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_ViewName___View</string>
			<key>Description</key>
			<string>View name</string>
			<key>Identifier</key>
			<string>viewName</string>
			<key>Name</key>
			<string>View:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_ViewName___ViewUpdater</string>
			<key>Description</key>
			<string>Updater viewName</string>
			<key>Identifier</key>
			<string>updaterViewName</string>
			<key>Name</key>
			<string>Updater:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_ViewName___ViewBuilder</string>
			<key>Description</key>
			<string>Builder viewName</string>
			<key>Identifier</key>
			<string>builderViewName</string>
			<key>Name</key>
			<string>Builder:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Summary</key>
	<string>This generates a new view module using VOF arc.</string>
</dict>
</plist>
