<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>Identifier</key>
	<string>adbgtl</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the Screen to create</string>
			<key>Identifier</key>
			<string>ScreenName</string>
			<key>Name</key>
			<string>New ScreenName Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_ScreenName___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_ScreenName___VC</string>
			<key>Description</key>
			<string>View Controller name</string>
			<key>Identifier</key>
			<string>viewControllerName</string>
			<key>Name</key>
			<string>ViewController:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_ScreenName___Feature</string>
			<key>Description</key>
			<string>Feature ScreenName name</string>
			<key>Identifier</key>
			<string>featureScreenName</string>
			<key>Name</key>
			<string>feature:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_ScreenName___ViewServicesHandler</string>
			<key>Description</key>
			<string>View Services Handler name</string>
			<key>Identifier</key>
			<string>viewServicesHandler</string>
			<key>Name</key>
			<string>viewServicesHandler:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_ScreenName___ServiceFactory</string>
			<key>Description</key>
			<string>Services Factory name</string>
			<key>Identifier</key>
			<string>serviceFactory</string>
			<key>Name</key>
			<string>serviceFactory:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Summary</key>
	<string>This generates a new Screen module using VOF arc.</string>
</dict>
</plist>
